{% extends "::base_admin.html.twig" %}
{% block titre %}Inscription{% endblock %}

{% block titre_body %}
    <h2>Inscription</h2>
    <h5>Bienvenue dans notre Plateforme </h5>
{% endblock %}

{% block body %}
    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock %}


