{#----------MODAL COMPTABILISER PRISE SALAIRE----------#}
<div class="modal fade"  id="ModalVirement" role="dialog">
    <form action="{{ path('paie_reste_virement', { 'slug':compte_Paie.slug }) }}" method="post">

        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Comptabiliser prise salaire</h4>
                </div>
                <div class="modal-body">

                    <p>Voulez-vous mettre comme comptabiliser par virement?</p>

                    <input type="hidden" name="resteSalaire" value="{{ solde }}" id="soldeReste">
                    <input type="hidden" name="mois" value="{{ mois }}" id="soldeReste">
                    <input type="hidden" name="annee" value="{{ annee }}" id="soldeReste">

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Comptabiliser</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                </div>
            </div>

        </div>

    </form>
</div>